<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js 七並べ</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div v-cloak id="game_content">
    <div id="start_menu"  v-if='this.gameStatus == "START"'>
    人数
        <a v-on:click="specifyAmountPlayer( 2 )"> 2人 </a>
        <a v-on:click="specifyAmountPlayer( 3 )"> 3人 </a>
        <a v-on:click="specifyAmountPlayer( 4 )"> 4人 </a>
    </div>
    <div v-cloak v-if='this.gameStatus == "PLAY"'>
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">{{ showModalMessage[0] }}</h3>
            <a slot="body">{{ showModalMessage[1] }}</a>
        </modal>

        <p>{{ message }}</p>
        <p>{{ progressionMessageText }}</p>
        <br>
        <div style="display:flex;">
            <each_player_space v-if="player_amount>=2"  :player_id="2" :turn_player_id="this.turn_player_id" :pass_count="pass_count[1]" :enable_pass="enable_pass" :player_card_list="player2Card" :card_width="player2CardWidth" :empty="''">
            </each_player_space>

            <each_player_space v-if="player_amount>=4"  :player_id="4" :turn_player_id="this.turn_player_id" :pass_count="pass_count[3]" :enable_pass="enable_pass" :player_card_list="player4Card" :card_width="player4CardWidth" :empty="''">
            </each_player_space>
        </div>

        <table id="playground">
            <tr>
                <td v-for="card_info of heartCard" is="field-card" v-bind="card_info">
            </tr>
            <tr>
                <td v-for="card_info of clubCard" is="field-card" v-bind="card_info">
            </tr>
            <tr>
                <td v-for="card_info of diaCard" is="field-card" v-bind="card_info">
            </tr>
            <tr>
                <td v-for="card_info of spadeCard" is="field-card" v-bind="card_info">
            </tr>
        </table>
        <br>
        <div style="display:flex;">
            <each_player_space :player_id="1" :turn_player_id="this.turn_player_id" :pass_count="pass_count[0]" :enable_pass="enable_pass" :player_card_list="player1Card" :card_width="player1CardWidth" :empty="''">
            </each_player_space>

            <each_player_space v-if="player_amount>=3"  :player_id="3" :turn_player_id="this.turn_player_id" :pass_count="pass_count[2]" :enable_pass="enable_pass" :player_card_list="player3Card" :card_width="player3CardWidth" :empty="''">
            </each_player_space>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script src="main.js"></script>
</body>
</html>