<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js 七並べ</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div v-cloak id="app">
    <modal v-if="showModal" @close="showModal = false">
        <h3 slot="header">{{ showModalMessage[0] }}</h3>
        <a slot="body">{{ showModalMessage[1] }}</a>
    </modal>

    <p>{{ message }}</p>
    <p>{{ progressionMessageText }}</p>
    <br>
    <div id="player2_card_field" class="card_field">
        <transition-group name="player2_card_field">
            <div class="player_card" v-for="( item, index ) in card_list" v-if="item.status==2" v-bind:key="item.id"  :style="{width: player2CardWidth}" v-on:click="selectCard( index )">
                <transition name="can_select_card_list">
                    <div class="can_select_card" v-if="item.can_play && turn_player_id == 2"></div>
                </transition>
                <img :src="item.imageSrc"><!--:class="{ canSelectCard }"--><!-- :class="{ can_select_card: item.can_play }" -->
            </div>
        </transition-group>
    </div>
    <p><a class="turn_mark" v-if="this.turn_player_id==2">〇</a>プレイヤー2</p>
    <p>パス: {{ pass_count[1] }}回</p>
    <button v-if="this.turn_player_id==2 && this.enable_pass" v-on:click="pass()">パスする</button>

    <table id="playground">
        <tr>
            <td v-for="card_info of heartCard" is="field-card" v-bind="card_info">
        </tr>
        <tr>
            <td v-for="card_info of clubCard" is="field-card" v-bind="card_info">
        </tr>
        <tr>
            <td v-for="card_info of diaCard" is="field-card" v-bind="card_info">
        </tr>
        <tr>
            <td v-for="card_info of spadeCard" is="field-card" v-bind="card_info">
        </tr>
    </table>
    <br>
    <p><a class="turn_mark" v-if="this.turn_player_id==1">〇</a>プレイヤー1</p>
    <p>パス: {{ pass_count[0] }}回</p>
    <button v-if="this.turn_player_id==1 && this.enable_pass"
            v-on:click="pass()">パスする</button>
    <br>
    <div id="player1_card_field" class="card_field">
        <transition-group name="player1_card_field">
            <div class="player_card" v-for="( item, index ) in card_list" v-if="item.status==1" v-bind:key="item.id" :style="{width: player1CardWidth}" v-on:click="selectCard( index )">
                <img :src="item.imageSrc">
            </div>
        </transition-group>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script src="main.js"></script>
</body>
</html>