<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Vue.js 七並べ</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <p>{{ message }}</p>
    <p>{{ progression_message }}</p>
    <br>
    <img v-for="( item, index ) in card_list" v-if="item.status==2"
         v-bind:key="item.id" :src="item.imageSrc" v-on:click="selectCard( index )" width="136" height="200">
    <p><a class="turn_mark" v-if="this.turn_player_id==2">〇</a>プレイヤー2</p>
    <p>パス: {{ pass_count[1] }}回</p>
    <button v-if="this.turn_player_id==2 && this.enable_pass==1" v-on:click="pass()">パスする</button>

    <table id="playground">
        <tr>
            <td v-for="card_info of heartCard" is="shinomiya" :card_info="card_info">
        </tr>
        <tr>
            <td v-for="card_info of clubCard" is="shinomiya" :card_info="card_info">
        </tr>
        <tr>
            <td v-for="card_info of diaCard" is="shinomiya" :card_info="card_info">
        </tr>
        <tr>
            <td v-for="card_info of spadeCard" is="shinomiya" :card_info="card_info">
        </tr>
    </table>
    <br>
    <p><a class="turn_mark" v-if="this.turn_player_id==1">〇</a>プレイヤー1</p>
    <p>パス: {{ pass_count[0] }}回</p>
    <button v-if="this.turn_player_id==1 && this.enable_pass==1"
            v-on:click="pass()">パスする</button>
    <br>
    <img v-for="( item, index ) in card_list" v-if="item.status==1"
    v-bind:key="item.id" :src="item.imageSrc" v-on:click="selectCard( index )" width="136" height="200">
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script src="main.js"></script>
</body>
</html>