[v-cloak] {
    display: none;
}

#playground tr td img{
    width:57px;
    height:80px;
    text-align: center;
    position: relative;
}

td {

    border:1px solid #ccc;
    height: 100px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td .can_put_card
{
    background-color: orange;
    position: relative;
    width: 100%;
    height: 100%;
}

.turn_mark
{
    color: #ff0000;
}

.card_field img {
    width: 136px;
    height: 200px;
}
.player1_card_field-move {
     transition: transform 0.5s;
 }

.player1_card_field-leave-active{
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
}

.player1_card_field-leave-to {
     opacity: 0;
     transform: translate3d(0, -30px, 0);
 }

.player2_card_field-move {
    transition: transform 0.5s;
}

.player2_card_field-leave-active{
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
}

.player2_card_field-leave-to {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
}

.show_can_play-enter-active{
    position: absolute;
    transition: opacity 1s;
}

.show_can_play-enter{
    opacity: 0;
}

.field_card-enter-active{
    position: absolute;
    transition: opacity 0.5s;
}

.field_card-enter{
    opacity: 0;
}
/*
.put_card_field-enter-active{
    position: absolute;
    transition: opacity 3s, transform 0.5s;
}

.put_card_field-enter{
    opacity: 0;
    transform: translate3d(0, 30px, 0);
}*/



.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter,.modal-leave-to{
    opacity: 0;
}

.modal-enter-active,.modal-leave-active{
    transition: opacity 0.5s;
}