#playground{

}

td {

    border:1px solid #ccc;
    height: 100px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td .can_put_card
{
    background-color: orange;
    position: relative;
    width: 100%;
    height: 100%;
}

.turn_mark
{
    color: #ff0000;
}

.player1_card_field-move {
     transition: transform 0.5s;
 }

.player1_card_field-leave-active{
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
}

.player1_card_field-leave-to {
     opacity: 0;
     transform: translate3d(0, -30px, 0);
 }

.player2_card_field-move {
    transition: transform 0.5s;
}

.player2_card_field-leave-active{
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
}

.player2_card_field-leave-to {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
}

/*
.put_card_field-enter-active{
    position: absolute;
    transition: opacity 3s, transform 0.5s;
}

.put_card_field-enter{
    opacity: 0;
    transform: translate3d(0, 30px, 0);
}*/
