[v-cloak] {
    display: none;
}

.game_title {
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#f83600), to(#f9d423));
    background-image: -webkit-linear-gradient(left, #f83600 0%, #f9d423 100%);
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.select_game_info_title{
    background-color: #cccc;
    padding: 1rem 2rem;
    font-size: 150%;
    border-radius: 0.3rem;
}

.select_game_info {
    background-color: greenyellow;
    margin-left: 20px;
    padding: 1rem 2rem;
    color: #000;
    border-radius: 10px;
    font-size: 150%;
}

.put_a_card_field img{
    width:57px;
    height:80px;
    text-align: center;
    position: relative;
}

.player_card {
    display: inline-block;
    max-width: 136px;
    position: relative;
}

/*.player2_card_field*/ div.player_card:last-child {
    width: 136px;
}

.can_select_card {
    background-color: aqua;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.can_select_card_list-enter-active, .can_select_card_list-leave-active{
    transition: opacity 1s;
}

.can_select_card_list-enter {
    opacity: 0;
}

.can_select_card_list-enter-to {
    opacity: 1;
}

.can_select_card_list-leave {
    opacity: 1;
}

.can_select_card_list-leave-to{
    opacity: 0;
}

.can_select_card-enter{
    opacity: 0;
}

.put_a_card_field {
    border:1px solid #ccc;
    height: 100px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
}

.put_a_card_field .can_put_card
{
    background-color: orange;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.player_space {
    position:relative;
    width:45%;
}

.player_info_space {
    width:100%;
    height:150px;
}

.my_turn_background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2D9F2;
    z-index: -1;
}


.show_my_turn_background-enter, .show_my_turn_background-leave-to{
    opacity: 0;
}

.show_my_turn_background-enter-to, .show_my_turn_background-leave {
    opacity: 1;
}

.show_my_turn_background-enter-active, .show_my_turn_background-leave-active {
    transition: opacity 0.5s;
}


.player_space:not(:first-child){
    margin-left: 5%;
}

.player_card_field {
    width: 100%;
    position: relative;
    text-align: center;
}
.player_card_field img {
    width: 136px;
    height: 200px;
}

.player_card_field-move {
     transition: transform 0.5s;
 }

.player_card_field-leave-active{
    position: absolute;
    transition: opacity 0.5s, transform 0.5s;
}

.player_card_field-leave-to {
    position: absolute;
     opacity: 0;
     /*transform: translateY( -100px ); 一旦透明化のみ*/
 }

.show_can_play-enter-active{
    position: absolute;
    transition: opacity 1s;
}

.show_can_play-enter{
    opacity: 0;
}

.field_card-enter-active{
    position: absolute;
    transition: opacity 0.5s;
}

.field_card-enter {
    opacity: 0;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 300px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter,.modal-leave-to{
    opacity: 0;
}

.modal-enter-active,.modal-leave-active{
    transition: opacity 0.5s;
}